* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .95rem
}

.chat {
    display: flex
}
.chat__sidebar {
    /*overflow-y: scroll;*/
    width: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(46,49,146,1);
    background: rgba(78,0,188,1);
    background: -moz-linear-gradient(-45deg, rgba(78,0,188,1) 0%, rgba(41,171,226,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,0,188,1)), color-stop(100%, rgba(41,171,226,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,0,188,1) 0%, rgba(41,171,226,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,0,188,1) 0%, rgba(41,171,226,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,0,188,1) 0%, rgba(41,171,226,1) 100%);
    background: linear-gradient(135deg, rgba(78,0,188,1) 0%, rgba(41,171,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e00bc', endColorstr='#29abe2', GradientType=1 );
}

.chat__messages,
.chat__sidebar ul {
    list-style-type: none;
}

.chat__main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.chat__sidebar h3 {
    color: #e6eaee;
    margin: 10px 20px;
    text-align: left;
}
.chat__sidebar li {
    margin: 10px;
    border-radius: 2px;
}

.chat__messages {
    background-color: #fafafa;
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    transform: scale(1);
    transition: transform 23s;

}
.chat__footer {
    display: flex;
    flex-shrink: 0
}
.chat__footer form {
    flex-grow: 1;
    display: flex
}
.chat__footer form * {
    margin-right: 10px
}
.chat__footer input {
    border: none;
    padding: 10px;
    flex-grow: 1
}

.chat__footer,
.chat__sidebar li {
    background: #e6eaee;
    padding: 10px
}

.message {
    padding: 10px;
}

.user-message {
    color: #fff;
    max-width: 30%;
    padding: 5px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

span.message-colour{
    border: 1px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    overflow-wrap: break-word;
    padding: 5px;

}
.user-colour {
    display: inline-block;
    float: right;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
}
.message__title {
    display: flex;
    margin-bottom: 5px
}
.message__title h4 {
    font-weight: 600;
    margin-right: 10px
}
span.time-stamp {
    color: #999;
    font-size: 0.75rem;
    margin: 5px;
}

.room-zoom-out{
    transform: scale(0);
}

/*BUTTONS*/
.leave-room-btn,
.leave-room-btn:hover{
    margin: auto 40px 15px 40px;
    padding: 5px 10px;

}

@media (max-width: 600px) {
    * {
        font-size: 1rem
    }
    .chat__sidebar {
        display: none
    }
    .chat__footer {
        flex-direction: column
    }
    .chat__footer form {
        margin-bottom: 10px
    }
    .chat__footer button {
        margin-right: 0
    }
}