
.header-under-line{
    margin-top: 1rem;
    border-bottom: 1px solid #ccc;
}
 .validation-message{
    min-height: 50px;
 }

/*Center Form*/
.centered-form {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background: rgba(78,0,188,1);
    background: -moz-linear-gradient(-45deg, rgba(78,0,188,1) 0%, rgba(41,171,226,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,0,188,1)), color-stop(100%, rgba(41,171,226,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,0,188,1) 0%, rgba(41,171,226,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,0,188,1) 0%, rgba(41,171,226,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,0,188,1) 0%, rgba(41,171,226,1) 100%);
    background: linear-gradient(135deg, rgba(78,0,188,1) 0%, rgba(41,171,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e00bc', endColorstr='#29abe2', GradientType=1 );
}
.centered-form__form {
    background: rgba(250, 250, 250, .9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 20px 40px;
    margin: 20px;
    width: 400px
}
.form-field {
    margin: 20px 0;

}
.form-field>* {
    width: 100%
}
.form-field label {
    display: block;
    margin-bottom: 7px
}
.form-field input,
.form-field select {
    border: 1px solid #e1e1e1;
    padding: 10px;

}

.form-field:last-child{
    margin-top: 42px;
}

.form-field button {
    transform: translateX(50%);
    width: 50%;
}


/*Validation*/
.validation {
    border: 1px solid;
    margin: 7px 0px;
    padding:10px 15px;
    color: #D8000C;
    background-color: rgba(255, 186, 186, 0.3);
    font-size: 15px;
    animation: fade-in-out 0.2s ease;
    
}

.form-field .invalid-input {
    border: 1px solid #D8000C;
}

.invalid-input:focus {
    outline: none;
}

@keyframes fade-in-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


