.message__container,
.admin-message{
    padding: 10px;
}

.user-message {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.user-colour {
    display: inline-block;
    float: right;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
}
.message__title {
    display: flex;
    margin-bottom: 5px
}
.message__title h4 {
    font-weight: 600;
    margin-right: 10px
}
span.time-stamp {
    color: #999;
    font-size: 0.75rem;
    margin: 5px;
}

