:root {
    /*Buttons*/
    --main-btn-colour: #FFA726;
    --main-btn-colour-hover: #FFB74D;
    --main-btn-colour-disabled: #FFD54F;

    /*Sidebar*/
    /*--sidebar-background: #0C090A;*/

    /*Messages*/
    --messages-background: #E0E0E0;

    --chat-footer-color: #e6eaee;

    /*Canvas*/
    --canvas-background-colour: #232526;
    --canvas-border: #e6eaee;
}