
span.message-bubble{
    border: 1px solid transparent;
    display: inline-block;
    overflow-wrap: break-word;
    padding: 5px;
    max-width: 60%;
    animation: slide-in .2s ease;
}

@keyframes slide-in {
    from {transform: translateY(50%);
          opacity: 0;}
    to   {transform: translateY(0);
          opacity: 1;}
}

.default-bubble{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.top-bubble{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.middle-bubble{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.bottom-bubble{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

li.contains-top-bubble{
    padding-bottom: 2px;
}

li.contains-bottom-bubble{
    padding-top: 2px;
}

li.less-padding{
    padding-top: 2px;
    padding-bottom: 2px;
}